:root {
    --title-color: #212121;
    --text-title-color: #000000;
    --text-color: #757575;
    --gray-backgr-color: #2F303A;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --gray-color: #F5F4FA;

    --first-family: 'Roboto';
    --second-family: 'Raleway';
}



/* Обидві сторінки */


/* * {
    display: flex;
} */

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.body {
    font-family: var(--first-family);
    font-weight: 700;
}

.header {
    background-color: var(--white-color);
    height: 80px;
    width: 1600px;
}

.header-nav {

}

.header-logo {
    padding-right: 93px;
    font-family: var(--second-family);
    font-size: 26px;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.header-logo-link {
    font-family: var(--second-family);
}

.header-logo-accent {
    color: var(--accent-color);
}

.header-logo-text {
    color: var(--text-title-color);
}

.nav-list {
    width: 16px;
    height: 281px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 344px;
    color: var(--title-color);
}

.nav-item {
    padding-right: 50px;
    font-family: var(--font-family);
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.nav-item:hover {
    color: var(--accent-color);
}

.nav-item-link {

}

.nav-item-link:hover {
    color: var(--accent-color);
}

.header-contacts-list {

}

.header-contacts-item {
    font-weight: 500;
}

.header-contacts-link {
}

.footer-logo {
    font-size: 26px;
}

.footer-logo-link {
    font-family: var(--second-family);
}

.footer-logo-accent {
    color: var(--accent-color);
}

.footer-logo-text {
    color: var(--white-color);
}

.adress {

}

.footer-contacts-list {

}

.footer-contacts-item-adress {
    line-height: 1.714285714285714;
    font-weight: 400;
}

.footer-contacts-item {
    line-height: 1.714285714285714;
    font-weight: 400;
}

.footer-contacts-link {

}



                    /* Main */


.title-section {
    width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
}

.title {
    display: inline;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.363636363636364;
}

.title-section-button {
    display: inline;
    font-size: 16px;
    line-height: 1.875;
}

.features-section {
    width: 1600px;
    height: 766px;
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-list {

}

.features-item {

}

.feature-name {
    text-transform: uppercase;
}

.feature-description {
    font-weight: 400;
    line-height: 1.714285714285714;
}

.jobs-title {
    font-size: 36px;
}

.jobs-list {

}

.jobs-item {

}

.job-item-img {

}

.team-section {
    width: 1600px;
    height: 648px;
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-section-title {
    font-size: 36px;
}

.team-section-list {

}

.teammate {

}

.teammate-img {

}

.teammate-name {
    font-size: 16px;
    font-weight: 500;
}

.teammate-proffesion {
    font-size: 16px;
    font-weight: 400;
}



                    /* Portfolio */


.galery {
    padding-top: 94px;
    padding-bottom: 94px;
}

.galery-choose-list {

}

.galery-choose-button {

}

.galery-list {

}

.galery-item {

}

.galery-item-box {

}

.galery-box-img {

}

.galery-box-name {

}

.galery-box-type {

}