:root {
    --title-color: #212121;
    --text-title-color: #000000;
    --text-color: #757575;
    --gray-backgr-color: #2F303A;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --gray-color: #F5F4FA;

    --first-family: 'Roboto';
    --second-family: 'Raleway';

    /* --backgr-photo: ; */
}



/* Обидві сторінки */

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: solid red;
}

.body {
    font-family: var(--first-family);
    background-color: var(--white-color);
    font-weight: 700;
}

.header {
    background-color: var(--white-color);
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    gap: 93px;
    align-items: center;
}

.header-logo {
    font-family: var(--second-family);
    font-size: 26px;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    display: flex;
}

.header-logo-link {
    font-family: var(--second-family);
}

.header-logo-accent {
    color: var(--accent-color);
}

.header-logo-text {
    color: var(--text-title-color);
}

.nav-list {
    color: var(--title-color);
    display: flex;
    gap: 50px;
}

.nav-item {
    font-family: var(--font-family);
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.nav-item:hover {
    color: var(--accent-color);
}

.nav-item-link {
    color: var(--title-color);
}

.nav-item-link:hover {
    color: var(--accent-color);
}

.current-link {
    color: var(--accent-color);
}

.header-contacts-list {
    display: flex;
    gap: 50px;
}

.header-contacts-item {
    font-weight: 500;
    display: flex;
}

.header-contacts-link {
    color: var(--text-color);
}

.header-contacts-link:hover {
    color: var(--accent-color);
}

.footer {
    background-color: var(--gray-backgr-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    font-size: 26px;
    padding-bottom: 20px;
}

.footer-logo-link {
    font-family: var(--second-family);
}

.footer-logo-accent {
    color: var(--accent-color);
}

.footer-logo-text {
    color: var(--white-color);
}

.adress {
    display: flex;
    gap: 9px;
    flex-direction: column;
}

.footer-contacts-list {

}

.footer-contacts-item-adress {
    line-height: 1.714285714285714;
    font-weight: 400;
    color: var(--white-color);
}

.footer-contacts-item {
    line-height: 1.714285714285714;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}

.footer-contacts-link {
    color: rgba(255, 255, 255, 0.6);
}



                    /* Main */


.title-section {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--gray-backgr-color);
    /* background-image: ; */  
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    width: 696px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.363636363636364;
    color: var(--white-color);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.title-section-button {
    font-size: 16px;
    line-height: 1.875;
    width: 216px;
    height: 50px;
    background-color: var(--accent-color);
    
}

.features-section {
    padding-top: 94px;
    padding-bottom: 94px;

}

.features-list {
    display: flex;
    gap: 30px;
}

.features-item {

}

.feature-name {
    text-transform: uppercase;
}

.feature-description {
    font-weight: 400;
    line-height: 1.714285714285714;
    color: var(--text-color);
}

.jobs-title {
    display: flex;
    font-size: 36px;
    margin-top: 94px;
    margin-bottom: 50px;
    justify-content: center;
}

.jobs-list {
    display: flex;
    gap: 30px;
}

.jobs-item {

}

.job-item-img {

}

.team-section {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--gray-color);
}

.team-section-title {
    display: flex;
    font-size: 36px;
    margin-bottom: 50px;
    justify-content: center;
}

.team-section-list {
    display: flex;
    gap: 30px;
}

.teammate {
    display: flex;
    background-color: var(--white-color);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.teammate-img {
    width: 270px;
    height: 260px;
    margin-bottom: 30px;
}

.teammate-name {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.teammate-proffesion {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    margin-bottom: 30px;
}



                    /* Portfolio */


.galery {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--);
}

.galery-choose-list {

}

.galery-choose-button {

}

.galery-list {

}

.galery-item {

}

.galery-item-box {

}

.galery-box-img {

}

.galery-box-name {

}

.galery-box-type {

}